<% var errormessage; %>

<!doctype html>
<html lang="en">

<head>
	<%- include ('components/head.ejs') %>
</head>

<body>
	<%- include ('components/header.ejs') %>

	<%- include ('components/center.ejs') %>

	<%- include ('components/footer.ejs') %>

	<% if (errormessage) { %>
		<div class="d-flex justify-content-center">
			<div class="alert alert-warning alert-dismissible fade show w-50 center" role="alert">
				<strong>Error!</strong> <%= errormessage %>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	<% } %>
</body>

</html>